/* Dashboard */

/* Mobile-First */

#dashboard {
    margin-top: 100px;
    width: calc(100% - 32px);
    margin-left: 16px;

    .header-text {

        span {
            color: #71717A;
        }
    }

    .card {
        border: 1px solid #71717A;
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);

        .light-header {
            font-size: 20px;
            color: #71717A;
            letter-spacing: 2px;
            margin-left: 10px;
            margin-top: 10px;
        }

        .amount {
            font-size: 25px;
            font-weight: bold;
        }
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin: 0px 10px 10px 10px;
    }

    .percent {
        display: flex;
        align-items: center;

        img {
            width: 18px;
            height: 18px;
        }
    }

    .positive, .negative {
        font-size: 16px;
    }

    .positive {
        color: #16b952;
    }

    .negative {
        color: #cc3a3a;
    }

    .email-container {
        overflow-x: auto;
    }

    .email-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-top: 20px;

        h2 {
            font-size: 20px;
        }

        .email-header-text {
            color: #71717A;
        }

        a {
            background-color: $color-primary;
            color: #18181B;
            padding: 3px 10px;
            border-radius: 100px;
        }
    }

    .email-row {
        display: flex;
        width: calc(100% - 32px);
        align-items: center;
        margin: 10px 16px;
        justify-content: space-between;
        border-bottom: 1px solid $color-primary;
        padding-bottom: 5px;
    }

    .card .email-row:last-child {
        margin-bottom: 20px;
    }

    .email-read {
        display: flex;
        padding: 1px 10px;
        border-radius: 100px;

        img {
            margin-right: 5px;
        }

        p {
            font-size: 16px;
        }
    }

    .read {
        background-color: #a7ebbf;
    }

    .unread {
        background-color: #eba7a7;
    }

    .email-subject {

        h3 {
            font-size: 16px;
            text-align: center;
        }
    }

    .reply-email {

        p {
            font-size: 16px;
            text-align: center;
            word-wrap:break-word;
            color: #71717A;
        }
    }

    .comment-header {
        font-size: 20px;
        margin-left: 16px;
        margin-top: 10px;
    }

    .comment-header-text {
        margin-left: 16px;
        color: #71717A;
    }

    .comment-row {
        width: calc(100% - 32px);
        display: flex;
        justify-content: space-between;
        margin: 10px 16px;
        border-bottom: 1px solid $color-primary;
        padding-bottom: 5px;
    }

    .comment-text-dark {
        font-size: 20px;
        color: #18181B;
    }

    .comment-text-light {
        font-size: 16px;
        color: #71717A;
    }

    .comments-link {
        color: #18181B;
        background-color: $color-primary;
        padding: 3px 10px;
        border-radius: 100px;
        margin: 10px 16px;
        display: inline-block;
    }

    /* Desktop */
    @media only screen and (min-width: 900px) {
        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 16px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .grid .card:nth-child(5) {
            grid-column: span 3;
            grid-row: span 2;
        }

        .grid .card:nth-child(6) {
            grid-row: span 2;
        }

        .grid .card:nth-child(7) {
            grid-column: span 2;
            grid-row: span 2;
        }

        .grid .card:nth-child(8) {
            grid-column: span 2;
            grid-row: span 2;
        }

        .card {
            margin: 0;
        }
    }
}