.header-img {
    width: 60px;
    height: 60px;
}

/* NAVIGATION */
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    background-color: $color-bg-1;
	  top: 0;
	  right: 0;
    width: 100%;
    z-index: 5;
  }
  
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    padding-top: 20px;
    padding-left: 20px;
    top: 60px;
    left: 0;
    background-color: rgb(21, 21, 21);
    width: calc(15% - 20px);
    height: 100vh;
    overflow: hidden;
    z-index: 5;
    transition: transform 0.5s ease-out;
  }

  .navbar .nav-right {
    justify-self: end;
  }

  .nav-item {
    margin-top: 10px;
  }
  
  .nav-item a, .nav-item p {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    margin-right: 20px;
    font-family: $font-poppins;
  }

  .nav-item a {
    color: $color-primary;
    font-family: $font-poppins;
  }

  .nav-item p {
    color: $color-secondary;
    font-family: $font-sans;
    margin-top: 50px;
  }
  
  .nav-item a:hover {
    color: gray;
  }

  .active {
    border-left: 1px solid $color-primary;
    background-color: rgb(40, 40, 40);
    padding: 5px 40px 5px 10px;
    border-radius: 10px;
  }
  
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: $color-primary;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	  z-index: 10;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
	  z-index: 10;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  

  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 900px) { 
    .features {
      flex-direction: column;
      padding: 50px;
    }
    
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 0;
      background-color: rgb(21, 21, 21);
      width: 80%;
      height: 100vh;
      transform: translate(-100%);
      overflow: hidden;
      z-index: 5;
	    transition: transform 0.5s ease-out;
    }
    
    .navbar li {
      padding: 15px;
      margin-left: 20px;
    }
    
    .navbar li:first-child {
      margin-top: 50px;
    }
    
    .navbar li a {
      font-size: 23px;
      padding: 10px 20px;
      border-radius: 10px;
      font-family: $font-roboto;
    }

    .navbar li p {
      padding-left: 20px;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
  }
    
  }