@font-face {
  font-family: poppins-medium;
  src: url(../fonts/Poppins-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: worksans-bold;
  src: url(../fonts/WorkSans-Bold.ttf);
  font-display: swap;
}
/* fonts */
/* Main Colors */
/* Gradient Colors */
/* Gradient Colors Mobile */
/* Icon Gradients */
/* Card Gradients */
/* Project Overlay */
* {
  margin: 0;
  padding: 0;
}

button, button:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

ul, li {
  list-style: none;
}

input, input:focus {
  border: none;
  outline: none;
}

textarea, textarea:focus {
  border: none;
  outline: none;
}

.btn {
  padding: 12px 34px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: #466d62;
}

.line-break {
  width: 123px;
  height: 4px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 900px) {
  .line-break {
    width: 224px;
  }
}
/* Lovely Galaxy Fold */
@media only screen and (max-width: 300px) {
  .btn {
    padding: 6px 17px;
  }
}
/* Typography Classes */
/* Fonts */
.font-sans {
  font-family: "worksans-bold", sans-serif;
}

.font-poppins {
  font-family: "poppins-medium", sans-serif;
}

.font-roboto {
  font-family: "roboto-regular", sans-serif;
}

/* Font Sizes */
/* Mobile First */
.font-size-header {
  font-size: 35px;
}

.font-size-med {
  font-size: 20px;
}

.font-size-small {
  font-size: 20px;
}

@media only screen and (min-width: 900px) {
  .font-size-header {
    font-size: 60px;
  }
  .font-size-med {
    font-size: 32px;
  }
  .font-size-small {
    font-size: 30px;
  }
}
@media only screen and (max-height: 650px) {
  .font-size-header {
    font-size: 35px;
  }
  .font-size-med {
    font-size: 20px;
  }
  .font-size-small {
    font-size: 20px;
  }
}
/* colors */
.color-primary {
  color: #84CFBB;
}

.color-primary-bg {
  background-color: #84CFBB;
}

.color-secondary {
  color: #FFFFFF;
}

.color-text {
  color: #AAAAAA;
}

.color-black-1 {
  color: #151515;
}

.color-bg-1 {
  background-color: #151515;
}

.color-black-2 {
  color: #0C0C0C;
}

.color-bg-2 {
  background-color: #0C0C0C;
}

.color-black-3 {
  color: #000000;
}

.color-bg-3 {
  background-color: #000000;
}

.header-img {
  width: 60px;
  height: 60px;
}

/* NAVIGATION */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  background-color: #151515;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.navbar .nav-right {
  justify-self: end;
}

.nav-item a, .nav-item p {
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  margin-right: 20px;
  font-family: "poppins-medium", sans-serif;
}

.nav-item a {
  color: #84CFBB;
  font-family: "poppins-medium", sans-serif;
}

.nav-item p {
  color: #FFFFFF;
  font-family: "worksans-bold", sans-serif;
}

.nav-item a:hover {
  color: gray;
}

.active {
  border-left: 1px solid #84CFBB;
  background-color: rgb(40, 40, 40);
}

/* MOBILE MENU & ANIMATION */
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #84CFBB;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
  z-index: 10;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* Media Queries */
/* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 900px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }
  /* MOBILE NAVIGATION */
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 0;
    background-color: rgb(21, 21, 21);
    width: 80%;
    height: 100vh;
    transform: translate(-100%);
    overflow: hidden;
    z-index: 5;
    transition: transform 0.5s ease-out;
  }
  .navbar li {
    padding: 15px;
    margin-left: 20px;
  }
  .navbar li:first-child {
    margin-top: 50px;
  }
  .navbar li a {
    font-size: 23px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "roboto-regular", sans-serif;
  }
  .navbar li p {
    padding-left: 20px;
  }
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
}
/* Dashboard */
/* Mobile-First */
#dashboard {
  margin-top: 100px;
  width: calc(100% - 32px);
  margin-left: 16px;
}
#dashboard .header-text span {
  color: #71717A;
}
#dashboard .card {
  border: 1px solid #71717A;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
#dashboard .card .light-header {
  font-size: 20px;
  color: #71717A;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 10px;
}
#dashboard .card .amount {
  font-size: 25px;
  font-weight: bold;
}
#dashboard .row {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 10px 10px;
}
#dashboard .percent {
  display: flex;
  align-items: center;
}
#dashboard .percent img {
  width: 18px;
  height: 18px;
}
#dashboard .positive, #dashboard .negative {
  font-size: 16px;
}
#dashboard .positive {
  color: #16b952;
}
#dashboard .negative {
  color: #cc3a3a;
}
#dashboard .email-header {
  margin-left: 16px;
  margin-top: 20px;
}
#dashboard .email-header-text {
  margin-left: 16px;
}
#dashboard .email-row {
  display: flex;
  width: calc(100% - 32px);
  align-items: center;
  margin: 10px 16px;
  justify-content: space-between;
}
#dashboard .card .email-row:last-child {
  margin-bottom: 20px;
}
#dashboard .mobile-hidden {
  display: none;
}

/* All Time Statistics Graph */
/* Mobile-First */
#all-time-stats, #average-user {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-top: 20px;
}
#all-time-stats .row, #average-user .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid #84CFBB;
  padding-bottom: 10px;
}
#all-time-stats .amount, #average-user .amount {
  background-color: #84CFBB;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Performance Section */
/* Mobile-First */
#performance {
  margin-top: 100px;
  width: calc(100% - 32px);
  margin-left: 16px;
}
#performance .graph-card {
  border: 1px solid #71717A;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/* Graph Sections */
/* Mobile-First */
#traffic, #realtime, #languages, #browsers, #os, #pages, #referrers {
  width: calc(100% - 32px);
  margin: 16px;
}

/*# sourceMappingURL=admin.css.map */
